<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compare</title>
    <link href="../static/css/compare.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
	
	<h1>Файлы успешно загружены</h1>

	<form action="{{ url_for('compare') }}" method="POST" name="form" role="form">
		<input type="button" name="btn" onclick="AJAX();" value="Compare" id="btn">
	</form>


	<div id="message">
		<pre id="divmessage"></pre>
	</div>


</body>
</html>